.cell-wrapper {
    white-space: normal;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.MuiDataGrid-cellContent {
    white-space: normal;
    word-wrap: break-word;
}
